<!DOCTYPE html>
<html>

<head>
      <title>步步为营</title>
  <meta name="viewport" content="width=640,user-scalable=no">
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="ajax.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>